@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Fira+Sans+Extra+Condensed&family=Lato&family=Roboto&family=Rock+Salt&family=Yellowtail&display=swap');

body div#content {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}
.home-title {
background-color: white;
}
nav a {
    color: #23588e;
    text-decoration: none;
    margin: 0 auto;
    padding: 0px 35px;
}
nav a:hover {
    background-color: #23588e;
    color: white;
}
#hero-msg h1 {
    font-family: "Rock Salt", Caveat, Yellowtail;
    font-size: 2em;
}

#hero-msg h4 {
font-family: Roboto, Lato, "Fira Sans Extra Condensed";
}
main section {
width: 100%;
margin: 0 auto;
}
#background {
    height: 725px;
}
#background {
    background-color: #c5d8e5;
}
body {
    background-color: white;
    font-family: Roboto, Lato, "Fira Sans Extra Condensed";
    font-size: 22px;
    margin: 0;
    padding: 0;
}
.h2 {
    margin: 0;
}
header {
    background-color: #23588e;
}
header nav {
    background-color: #c5d8e5;
}
.book:hover, .join:hover {
    background-color: #c5d8e5;
}
.book, .join {
    color: black;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    height: 10px;
    display: inline;
}
.rivers-card {
    margin-top: 1%;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
    margin: 0 auto;
    margin-top: 10px;

    
}
.card-img {
    border: 10px solid black;
}
main section img {
    box-sizing: border-box;
}
.msg {
    background-color: #23588e;
    line-height: 1.5em;
    padding: 10px 0px;
    margin: 0 auto;
    display: inline-block;
}
.msg p {
    padding-bottom: 10px;
    font-size: 60%;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 13px;
}
footer {
    background-color: #23588e;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}
footer p {
    font-size: 1.2em;
}
footer .social img {
    padding-top: 15px;
}
#hero-img {
    width: 100%;
}
.logo {
    width: 80px;
    margin: 0 auto;
    display: block;
}
#logo_link {
    padding-top: 5px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
